
.after-head {
  max-height: 1000px;
  padding: 229px 0 104px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../images/img/BG_img.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 47px;


  &__section-title {
    font-size: 72px;
    color: white;

    & span {
      font-size: 150px;
      margin-top: 45px;
    }
  }

  &__btn-wrap {
    text-align: center;
  }

  &__btn {
    font-family: var(--ff-Montserrat);
    padding: 11px 23px 12px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
  }

}
