* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  vertical-align: top;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
}
.container {
  margin: 0 auto;
  max-width: 940px;
}

/* HEADER */
.page_header {
  padding-top: 40px;
  padding-bottom: 128px;
}
.site_logo {
  display: inline-block;
}
.page_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.site_navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.site_navigation a {
  display: block;
  color: rgb(149, 225, 211);
  text-decoration: none;
  transition: color 0.2s linear;
  color: #222222;
}

.nav_item:hover a {
  color: #ffeaa1;
}

.nav_item {
  margin-right: 40px;
}
.nav_item:nth-of-type(5) {
  margin-right: 0;
}
.section {
  padding-bottom: 120px;
}

.section_name {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section_title {
  margin-bottom: 77px;
  text-align: center;
  font-family: "DroidSerif", sans-serif;
  font-size: 16px;
}
.section_name_form {
  padding-top: 110px;
  color: #fff;
}

.section_title_form {
  color: rgb(119, 119, 119);
}
/* FEATURES */

.features_list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.feature_title {
  color: rgb(51, 51, 51);
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
}
.feature_description {
  font-size: 14px;
  font-family: 'Roboto Slab', sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
}
.features_list_item {
  flex-basis: 291px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 100px;
  background-color: #fff;
  background-position-x: 110px;
  background-repeat: no-repeat;
  background-color: transparent;
}
.features_list_item::before {
  content: "";
  position: absolute;
  margin-left: 110px;
  margin-top: -110px;
  width: 100px;
  height: 100px;
  background-position-y: 10px;
  background-repeat: no-repeat;
  background-color: transparent;
}
.basket::before {
  background-image: url(./img/Icon-Basket.png);
}
.laptop::before {
  background-image: url(./img/Icon-Laptop.png);
}
.locked::before {
  background-image: url(./img/Icon-Locked.png);
}

/* FORM */

.form_section {
  background-position: center center;
  background: url(./img/MapImage.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.input_name,
.input_email,
.input_text {
  display: flex;
  width: 455px;
  height: 55px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  width: 455px;
  height: 55px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(187, 187, 187);
}
.input_email,
.input_text {
  margin-top: 25px;
}

.textarea {
  display: flex;
  border-radius: 5px;
  width: 455px;
  min-height: 214px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase; 
  margin-bottom: 30px;
}
textarea::placeholder {
  color: rgb(187, 187, 187);
  padding-left: 20px;
  padding-top: 19px; 
}
.input_name,
.input_email,
.input_text
 {
  padding-left: 20px;
}
form input[required]:invalid,
form .textarea[required]:invalid {
border: 1px solid #ec0303;
border-radius: 5px;
}
form input[required]:valid,
form .textarea[required]:valid {
border: 1px solid green;
border-radius: 5px;
}

.input_name::placeholder,
.input_text::placeholder,
.input_email::placeholder {
  color: rgb(187, 187, 187);
}

.submit_button {
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  width: 240px;
  height: 66px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

