
  body {
    font-family: "Roboto", Helvetica, sans-serif;
  }
  .container {
    max-width: 320px;
    padding: 0;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .after-head {
    min-height: 100vh;
    padding: 229px 0 104px;
    box-sizing: border-box;
    background-image: url("../img/good-company.png");
    background-position: center;
    background-size: cover;
    margin-bottom: 70px;
  }

  .after-head_btn {
    font-family: "Montserrat", sans-serif;
    padding: 11px 23px 12px;
    border: 2px solid #ff4e50;
    border-radius: 22px;
    background-color: #ff4e50;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 19px;
  }

  .header__inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .header__logo {
    margin-top: 115px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
  }

  .header__log-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__log-link {
    display: block;
    padding: 11px 19px 12px;
    border: 3px solid transparent;
    border-radius: 21px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: border-color 0.35s;
  }

  .header__log-link:hover {
    border-color: #fff;
  }

  .after-head__title {
    max-width: 276px;
    margin: 0 auto;
    color: #fff;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  .after-head__sub-title {
    font-weight: 300;
    max-width: 217px;
    margin: 0 auto;
    margin-top: 19px;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }

  .after-head__btn-wrap {
    margin-top: 18px;
    text-align: center;
  }
  .holiday-partners {
    padding-bottom: 57px;
  }
  .holiday-partners__inner {
    text-align: center;
  }
  .holiday-partners__title {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 257px;
  }
  .holiday-partners__partners-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .holiday-partners__partner {
    margin-bottom: 30px;
  }
  .holiday-partners__avatar {
    position: relative;
    width: 122px;
    height: 122px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 22px;
  }

  .holiday-partners__avatar::after {
    content: "";
    position: absolute;
    right: -3px;
    bottom: -3px;
    display: block;
    width: 34px;
    height: 34px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #ff4e50;
    background-image: url("../img/tv-set.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .holiday-partners__avatar_tv {
    background-image: url("../img/tv-set.png");
    background-color: #ff4e50;
  }

  .holiday-partners__avatar_coffee::after {
    background-image: url("../img/beaker.png");
    background-color: #ffa507;
  }

  .holiday-partners__avatar_chemistry::after {
    background-image: url("../img/cup.png");
    background-color: #1cd7ad;
  }

  .holiday-partners__avatar_paper-plane::after {
    background-image: url("../img/plane.png");
    background-color: #4e73db;
  }
  .holiday-partners__partner-name {
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
  }
  .holiday-partners__partner-desc {
    font-weight: 300;
    color: #666666;
    width: 200px;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
  }
  .holiday-partners__partnerbtn {
    margin-top: 18px;
    font-family: "Montserrat", sans-serif;
    padding: 11px 23px 12px;
    border: 2px solid #ff4e50;
    border-radius: 22px;
    background-color: #ffffff;
    color: #ff4e50;
    font-size: 14px;
    font-weight: 700;
  }

