@media (min-width: 1460px) {
  .container {
    max-width: 942px;
  }
  .holiday-partners__title {
    min-width: 400px;
  }
  .holiday-partners__partners-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
